#container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  background-color: transparent;
}

#app-bar-compact {
  position: absolute;
  width: 100%;
  height: 92px;
  background-color: transparent;
}

#toolbar {
  width: 100%;
  height: 100%;
  position: relative;
  top: 44px;
  border: none;
}

#div-button {
  width: 40px;
  height: 40px;
  left: calc(100% - 64px);
  margin-right: 40px;
  position: absolute;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#icon-button-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: grid;
  align-items: center;
  justify-content: center;
  border: none;
}

#union {
  height: 15px;
  width: 18px;
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
}

#div-logo {
  width: 100px;
  height: 40px;
  left: 12px;
  top: 3px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border: none;
}

#headline {
  width: 375px;
  height: 604px;
  top: 92px;
  position: absolute;
  z-index: 2;
}

#div-primary-text-1 {
  height: 150px;
  width: 327px;
  left: 24px;
  top: 110px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#div-primary-text-2 {
  height: 146px;
  width: 327px;
  left: 24px;
  top: 276px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#div-social-media {
  height: 24px;
  width: 117px;
  left: 24px;
  top: 434px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#div-social-media-icons {
  height: 20px;
  width: 170px;
  left: 24px;
  top: 470px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#div-twitter {
  height: 20px;
  width: 20px;
  left: 24px;
  top: 470px;
}

#div-linkedin {
  height: 20px;
  width: 20px;
  left: 63px;
  top: 470px;
}

#div-social-media-icon-3 {
  height: 16px;
  width: 20px;
  left: 103px;
  top: 472px;
}

#div-github {
  height: 20px;
  width: 18px;
  left: 143px;
  top: 470px;
}

#div-social-media-icon-5 {
  height: 20px;
  width: 14px;
  left: 180px;
  top: 470px;
}

#header-shapes-mobile {
  width: 100%;
  position: absolute;
  top: 104px;
  background: transparent;
  z-index: 1;
  background-color: transparent;
}

.primary-text-1 {
  width: 327px;
  height: 150px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  align-items: center;
}

.primary-text-2 {
  width: 327px;
  height: 146px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  color: #344563;
}

.social-media-p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  color: #7f8cff;
}

.vector {
  width: 16px;
  border-radius: 1px;
  display: block;
  border: 1px solid #6070ff;
  background: #6070ff;
}

.my-logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border: none;
  color: #6070ff;
}
